<h1><%= @exercise.name %></h1>

<p><%= link_to "Edit This Exercise", edit_exercise_path(@exercise) %></p>

<p><%= link_to "Delete This Exercise", exercise_path(@exercise), method: :delete, data: {confirm: "Are you sure you want to delete this exercise?"} %></p>

<p>Primary muscle group: <%= @exercise.muscle_group %></p>
<p>Equipment Needed: <%= @exercise.equipment %></p>
<p>Exercise Description: <%= @exercise.description %></p>
